<pkg-info format-version="2" identifier="io.flutter.examples.base.pkg" version="{{.version}}" install-location="/" auth="root">
	<bundle-version>
		<bundle id="io.flutter.examples" CFBundleIdentifier="io.flutter.examples" path="./Applications/stocks.app" CFBundleVersion="{{.version}}"/>
    </bundle-version>
</pkg-info>